	html {
	    background: #272727;
	    font-family: Arial, sans-serif;
	    margin: 0;
	    padding: 0;
	    color: #333;
	}
	
	.infos {
	    width: 100%;
	}
	
	body {
		background: #272727;
	    font-family: Arial, sans-serif;
	    margin: 0;
	    padding: 0;
	    color: #333;
	}
	
	#infos {
	    width: auto;
	}
	
	#container {
	    width: auto;
	    margin: 5px auto;
	    padding: 5px;
	    border-radius: 5px;
	    box-shadow: 0 0 5px #AAA;
	    -webkit-box-shadow: 0 0 5px #AAA;
	    -moz-box-shadow: 0 0 5px #AAA;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
	
	.bloc {
	    margin-top: 10px;
	    margin-bottom: 10px;
	    padding: 5px;
		text-align: center;
	}
	
	.contenu {
		text-align: left;
		margin: 5px;
	}

	.bg-custom-1 {
		background-color: #434343;
		margin: 5px;
	}

	.card-body {
		color: #ffec8e;
	}

	.description {
	    font-weight: bold;
	}
	
	.big {
	    font-size: 1.2em;
	}
	
	.footer {
	    color: #888;
	    text-align: center;
		height: 30px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	.footer a {
	    color: #888;
	}
	
	.footer a:visited {
	    color: #888;
	}